@using UIDemos.Models;
@using UIDemos.Helpers;

@model ContactViewModel

@{
	ViewBag.Title = "Sign up for our mailing list";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("SignUp", "Home"))
{
	@using (Html.BeginRow())
	{
		Html.TextEditBlockFor(m => m.FirstName, "col-md-2")
			.TextEditBlockFor(m => m.LastName, "col-md-2");
	}

	@using (Html.BeginRow())
	{
		Html.TextEditBlockFor(m => m.Email, "col-md-4")
			.TextEditBlockFor(m => m.Birthday, "col-md-2");
	}

	@using (Html.BeginRow())
	{
		<div class="col-md-12">
			<button type="submit" class="btn btn-primary">Submit</button>
		</div>
	}
}

@section Scripts {
	<script src="@Url.Content("~/lib/jquery-validation/jquery.validate.js")"></script>
	<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
}