@using UIDemos.Models

@model CatalogViewModel

@{
    ViewBag.Title = "Product Catalog";
}
<h1>@ViewBag.Title</h1>

@using(Html.BeginForm()){
	@Html.EditorFor(m=> m.SearchCriteria)
}

@section Scripts {
	<script src="@Url.Content("~/lib/jquery-validation/jquery.validate.js")"></script>
	<script src="@Url.Content("~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js")"></script>
}